{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resultado búsqueda:</h1>
    {% for libro in libros %}
        {{ include('datos_libro.html.twig', { 'libro': libro }) }}
    {% endfor %}
{% endblock %}