{% extends 'base.html.twig' %}

{% block title %}Contactos{% endblock %}
{% block body %}
    <h1>Listado de contactos</h1>
    {% if contactos %}
        {% for contacto in contactos %}
            {{ include('datos_contacto.html.twig', { 'contacto': contacto }) }}
        {% endfor %}
    {% else %}
        <p>Contacto no encontrado</p>
    {% endif %}
{% endblock %}